<ion-view hide-nav-bar="true">
  <ion-content class="padding gray-bg padding40-top">
    <ion-slide-box on-slide-changed="" show-pager="false">
      <ion-slide>
        <div ng-click="guiderOpt.searching = true" class="list list-inset guider-search-wrap">
          <label class="item item-input stable-bg guider-search">
            <label ng-if="!guiderOpt.searching" class="searchTip relative">
              <i class="icon ion-ios-search h4"></i> 搜索
            </label>
            <input type="text" placeholder="">
          </label>
        </div>
        <div ng-click="guiderOpt.searching = false" class="list card">
          <div class="item guiderCard">
            <div class="text-center padding-top">
              <img ng-src="./img/guider.png" class="border-radius50" width="80">
            </div>
            <div class="text-center light padding5-0">
              <span class="h4 light">天堂果果</span> <span class="icon ion-female light"></span>
              <span class="brown-bg guiderAge">80后</span>

              <h3 class="light guiderAddress relative padding5-0">北京朝阳</h3>
            </div>
            <div class="text-center light margin20-top">
              <span class="guiderLabel margin10-left h5 light">会摄影</span>
              <span class="guiderLabel margin10-left h5 light">导游证</span>
              <span class="guiderLabel margin10-left h5 light">有车</span>
            </div>
          </div>
          <div class="text-center padding20-top padding-bottom">
            <div class="gray">导游评分</div>
            <div class="padding-bottom">
              <span class="icon ion-ios-star h3 energized"></span>
              <span class="icon ion-ios-star h3 energized"></span>
              <span class="icon ion-ios-star h3 energized"></span>
              <span class="icon ion-ios-star h3 energized"></span>
              <span class="icon ion-ios-star h3 gray"></span>
            </div>
          </div>
          <div class="stable-bg text-center brown padding-top padding-bottom">
            <span class="icon ion-chatbox-working padding5-0"></span> 去交流
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div ng-click="guiderOpt.searching = true" class="list list-inset guider-search-wrap">
          <label class="item item-input stable-bg guider-search">
            <label ng-if="!guiderOpt.searching" class="searchTip relative">
              <i class="icon ion-ios-search h4"></i> 搜索
            </label>
            <input type="text" placeholder="">
          </label>
        </div>
        <div ng-click="guiderOpt.searching = false" class="list card">
          <div class="item guiderCard">
            <div class="text-center padding-top">
              <img ng-src="./img/guider.png" class="border-radius50" width="80">
            </div>
            <div class="text-center light padding5-0">
              <span class="h4 light">天堂果果</span> <span class="icon ion-female light"></span>
              <span class="brown-bg guiderAge">80后</span>

              <h3 class="light guiderAddress relative padding5-0">北京朝阳</h3>
            </div>
            <div class="text-center light margin20-top">
              <span class="guiderLabel margin10-left h5 light">会摄影</span>
              <span class="guiderLabel margin10-left h5 light">导游证</span>
              <span class="guiderLabel margin10-left h5 light">有车</span>
            </div>
          </div>
          <div class="text-center padding20-top padding-bottom">
            <div class="gray">导游评分</div>
            <div class="padding-bottom">
              <span class="icon ion-ios-star h3 energized"></span>
              <span class="icon ion-ios-star h3 energized"></span>
              <span class="icon ion-ios-star h3 energized"></span>
              <span class="icon ion-ios-star h3 energized"></span>
              <span class="icon ion-ios-star h3 gray"></span>
            </div>
          </div>
          <div class="stable-bg text-center brown padding-top padding-bottom">
            <span class="icon ion-chatbox-working padding5-0"></span> 去交流
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>

  </ion-content>
</ion-view>
