<ion-view view-title="印象" id="destination-impress">
  <ion-content class="stable-bg">
    <div class="padding row">
      <div class="col-50 padding">
        <img ng-src="./img/icon/003.png" class="col" >
      </div>
      <div class="col-50 padding">
        <img ng-src="./img/icon/004.png" class="col" >
      </div>
    </div>
    <div class="list">
      <div class="item item-impress padding0">
        <div class=" row text-center padding0">
          <div class="col-50 box">
            <div class="box-busy">
              <div class="ft-bold">旺季</div>
              <span>9-10月</span>
            </div>
            <p class="padding-top">描述描述描述描述</p>
          </div>
          <div class="col-50 box item-divider-left">
            <div class="box-slack">
              <div class="ft-bold">淡季</div>
              <span>11-12月</span>
            </div>
            <p class="padding-top">描述描述描述描述</p>
          </div>
        </div>

      </div>
      <div class="item item-impress padding0">
        <div class=" row text-center padding0">
          <div class="col-50 box">
            <div class="box-tip">
              <div class="ft-bold">1</div>
              <span>小时</span>
            </div>
            <p class="padding-top">与北京时间相差</p>
          </div>
          <div class="col-50 box item-divider-left">
            <div class="box-tip">
              <div class="ft-bold">100</div>
              <span>日元</span>
            </div>
            <p class="padding-top">1 人民币</p>
          </div>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
