<ion-view view-title="{{city}}">
  <ion-content>
    <div class="list">
      <div class="item item-image">
        <img ng-src="./img/dongjing.jpg" >
        <div class="country-intro-text col">
          <span class="light">东京是吃货的天堂{{item.text}}</span>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        <span class="ft-bold">目的概况</span>
      </div>
      <div class="item item-text-wrap">
        日本位于亚洲大陆东边的太平洋上。整个国土由四个主要岛屿组成，在这四个岛屿的周围还有约4,000多个小岛，
        日本的国土面积大致相当于德国和瑞士这两个国家面积的总和，与美国的...
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        <span class="ft-bold">景点列表</span>
      </div>
      <a href="#/tab/destination/{{countryId}}/{{cityId}}/0" class="item">
        忠犬八公像
      </a>
      <a href="#/tab/destination/{{countryId}}/{{cityId}}/0" class="item">
        忠犬八公像
      </a>
    </div>
  </ion-content>
</ion-view>
