<ion-view view-title="账户密码">
  <ion-content class="stable-bg">
    <div class="list margin40-top">
      <div class="item">
        手机号：15110130888
      </div>
      <label class="item item-input">
        <span class="input-label">
          设置密码
        </span>
        <input type="text" ng-model="settings.password">
      </label>
      <label class="item item-input">
        <span class="input-label">
          确认密码
        </span>
        <input type="text" ng-model="settings.confirm_password">
      </label>
    </div>
  </ion-content>
</ion-view>
