<ion-view view-title="关于我们">
  <ion-content class="stable-bg">
    <div class="list">
      <div class="item item-image">
        logo
      </div>
    </div>
    <div class="list">
      <div class="item item-icon-right">
        服务协议
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
      <div class="item item-icon-right">
        功能介绍
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
      <div class="item item-icon-right">
        待定
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
