<ion-view view-title="成为果先生">
  <ion-content class="stable-bg">
    <div class="list">
      <div class="item item-avatar">
        <img ng-src="./img/pig-header.png" >
        <h2 class="text-center padding-top">我要成为果先生</h2>
      </div>
    </div>
    <div class="list">
      <div class="item item-icon-right">
        什么是果先生
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
      <div class="item item-icon-right">
        什么人可以成为果先生
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
      <div class="item item-icon-right">
        如何申请
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
      <div class="item item-icon-right">
        果先生的责任与义务
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
