<ion-view view-title="账单">
  <ion-content class="stable-bg">
    <ion-slide-box class="margin20-top" show-pager="false" on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="box row">
          <div class="col text-center">
            <span class="padding5 border-radius22 green-bg">2015</span>
          </div>
          <div class="col text-center">
            <span class="padding5 border-radius22 stable-bg">2016</span>
          </div>
          <div class="col text-center">
            <span class="padding5 border-radius22 stable-bg">2017</span>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box row">
          <div class="col text-center">
            <span class="padding5 border-radius22 stable-bg">2018</span>
          </div>
          <div class="col text-center">
            <span class="padding5 border-radius22 stable-bg">2019</span>
          </div>
          <div class="col text-center">
            <span class="padding5 border-radius22 stable-bg">2020</span>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>

    <ion-slide-box class="padding-top" show-pager="false" on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="box row">
          <div class="col text-center">
            <span class="padding5 border-radius22 stable-bg">1月</span>
          </div>
          <div class="col text-center">
            <span class="padding5 border-radius22 stable-bg">2月</span>
          </div>
          <div class="col text-center">
            <span class="padding5 border-radius22 stable-bg">3月</span>
          </div>
          <div class="col text-center">
            <span class="padding5 border-radius22 stable-bg">4月</span>
          </div>
          <div class="col text-center">
            <span class="padding5 border-radius22 stable-bg">5月</span>
          </div>
          <div class="col text-center">
            <span class="padding5 border-radius22 brown-bg">6月</span>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box row">
          <div class="col text-center">
            <span class="padding5 border-radius22 stable-bg">7月</span>
          </div>
          <div class="col text-center">
            <span class="padding5 border-radius22 stable-bg">8月</span>
          </div>
          <div class="col text-center">
            <span class="padding5 border-radius22 stable-bg">9月</span>
          </div>
          <div class="col text-center">
            <span class="padding5 border-radius22 stable-bg">10月</span>
          </div>
          <div class="col text-center">
            <span class="padding5 border-radius22 stable-bg">11月</span>
          </div>
          <div class="col text-center">
            <span class="padding5 border-radius22 stable-bg">12月</span>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>

    <div class="list padding-top">
      <div class="item padding0">
        <div class="row">
          <span class="col">日本十日游</span>
          <span class="item-note brown col text-right">-5500.00</span>
        </div>
        <div class="row">
          <span class="ft-12 gray col">2015-09-01 10:00</span>
          <span class="item-note ft-12 gray col text-right">付款</span>
        </div>
      </div>

      <div class="item padding0">
        <div class="row">
          <span class="col">日本十日游</span>
          <span class="item-note brown col text-right">-5500.00</span>
        </div>
        <div class="row">
          <span class="ft-12 gray col">2015-09-01 10:00</span>
          <span class="item-note ft-12 gray col text-right">付款</span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
