<ion-view view-title="个人信息">
  <ion-content class="stable-bg">
    <div class="list margin20-top">
      <div class="item item-avatar">
        <img ng-src="./img/guider.png" >
        <h2>昵称</h2>
        <p>个人介绍个人介绍个人介绍个人介绍</p>
      </div>
    </div>

    <div class="list">
      <div class="item">
        城市
        <span class="item-note">北京</span>
      </div>
      <div class="item">
        出生年月
        <span class="item-note">1999-09-09</span>
      </div>
      <div class="item">
        性别
        <span class="item-note">男</span>
      </div>
      <div class="item">
        优势标签
        <span class="item-note">驾照、游泳</span>
      </div>
    </div>

    <div class="list">
      <div class="item">
        手机
        <span class="item-note">18690234789 <span class="green padding-left">已绑定</span> </span>
      </div>
      <div class="item">
        邮箱
        <span class="item-note">sina@qq.com <span class="green padding-left">未绑定</span> </span>
      </div>
    </div>
  </ion-content>
</ion-view>
