<ion-view view-title="客服">
  <ion-content class="stable-bg">
    <div class="list">
      <div class="item item-avatar">
        <img ng-src="./img/pig-header.png" >
        <h2 class="text-center">亲，您可以随时联系我们哦</h2>
        <p class="text-center">24小时待命</p>
      </div>
    </div>
    <div class="list">
      <div class="item item-icon-right">
        给我们打电话
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
      <div class="item item-icon-right">
        咨询我们
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
      <div class="item item-icon-right">
        投诉果先生
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
      <div class="item item-icon-right">
        我有意见或建议
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
