<ion-view hide-nav-bar="true" id="trip-wait">
  <ion-header-bar>
    <h2 class="title">等待行程</h2>
    <div class="buttons">
      <button ng-click="cancelTrip()" class="button button-clear button-brown">取消行程</button>
    </div>
  </ion-header-bar>
  <ion-content class="padding stable-bg">

    <div class="list stable-bg margin0">
      <div class="item stable-bg border0">
        <span class="list-head padding-left">行程详情</span>
      </div>
    </div>
    <div class="list card stable-bg margin0">
      <div class="item ft-14">
        <span>出发时间</span>
        <span class="item-note dark"> {{tripData.trips_leavetime}} </span>
      </div>
      <div class="item ft-14">
        <span>男桑</span>
        <span class="item-note dark"> {{tripData.trips_boy}}人 </span>
      </div>
      <div class="item ft-14">
        <span>女桑</span>
        <span class="item-note dark"> {{tripData.trips_girl}}人 </span>
      </div>
      <div class="item ft-14">
        <span>小孩纸</span>
        <span class="item-note dark"> {{tripData.trips_child}}人 </span>
      </div>
    </div>

    <div class="list card stable-bg">
      <div ng-repeat="item in tripData.trips_dest" class="item ft-14">
        <span>{{item.city}} / {{item.daynum}}天</span>
        <span class="item-note dark" >
          {{item.title}}
        </span>
      </div>
    </div>

    <div ng-if="tripData.trips_talk" class="list card stable-bg">
      <div class="item ft-14">
        <span>行程愿景</span>
        <span class="item-note dark"> {{tripData.trips_talk}} </span>
      </div>
    </div>

    <div class="list">
      <div ng-repeat="item in tripData.trips_imgs" class="item item-image item-mid-img stable-bg padding border0">
        <img src="{{item}}" >
      </div>
    </div>
  </ion-content>
</ion-view>
