<ion-view view-title="我的行程" id="trip">
  <ion-content class="stable-bg">

    <div class="list card stable-bg">
      <div class="item stable-bg border0">
        <span class="trip-year list-header padding-left">2015</span>
      </div>
      <a href="#/tab/my-trip-wait" class="item border0 margin10-bottom ft-14">
        <span class="gray">5.3-5.10</span> <span class="padding-left">大阪 - </span> <span>3日游</span>
        <span class="item-note"> 等待行程 </span>
      </a>
      <a href="#/tab/trip-wait-pay" class="item border0 margin10-bottom ft-14">
        <span class="gray">5.3-5.10</span> <span class="padding-left">大阪 - 北海道 - </span> <span>7日游</span>
        <span class="item-note"> <span class="green">待付款</span> </span>
      </a>
      <a href="#/tab/trip-wait-comment" class="item border0 margin10-bottom ft-14">
        <span class="gray">5.3-5.10</span> <span class="padding-left">大阪 - 北海道 - </span> <span>7日游</span>
        <span class="item-note"> <span class="assertive">去评价</span> </span>
      </a>
      <a href="#/tab/trip-wait-comment" class="item border0 margin10-bottom ft-14">
        <span class="gray">5.3-5.10</span> <span class="padding-left">大阪 - 北海道 - </span> <span>7日游</span>
        <span class="item-note"> <span class="assertive">去评价</span> </span>
      </a>
    </div>

  </ion-content>
</ion-view>
