<ion-view view-title="详情">
  <ion-content class="stable-bg">
    <div class="list margin20-top">
      <label class="item item-icon-left item-input">
        <i class="icon ion-ios-calendar-outline brown"></i>
        <span class="input-label">出发时间</span>
        <input type="date" class="plan_day_num padding0-5" ng-model="plan.start_date" placeholder="请输入数字">
      </label>
      <label class="item item-input item-icon-left">
        <i class="icon ion-ios-people brown"></i>
        <span class="input-label">出行人数</span>
        <span class="item-note green">{{plan.people_num}}</span>
        <!--<input type="number" disabled class="plan_day_num padding0-5" ng-model="plan.people_num" >-->
      </label>

      <div class="row light-bg padding">
        <div class=" col-90 row list-options">
          <div class="col-34">男桑</div>
          <div class="col-66 text-right">
            <span ng-if="plan.people_boy > 0">
              <span counter-minus data-model="people_boy" class="icon ion-ios-minus-outline button button-clear"></span>
              <span class="padding0-5">{{plan.people_boy}}人</span>
            </span>

            <span counter-plus data-model="people_boy" class="icon ion-ios-plus-outline button button-clear"></span>
          </div>
        </div>
      </div>
      <div class="row light-bg padding">
        <div class=" col-90 row list-options">
          <div class="col-34">女桑</div>
          <div class="col-66 text-right">
            <span ng-if="plan.people_girl > 0">
              <span counter-minus data-model="people_girl" class="icon ion-ios-minus-outline button button-clear"></span>
              <span class="padding0-5">{{plan.people_girl}}人</span>
            </span>

            <span counter-plus data-model="people_girl" data-model="people_girl" class="icon ion-ios-plus-outline button button-clear"></span>
          </div>
        </div>
      </div>
      <div class="row light-bg padding">
        <div class=" col-90 row list-options border0">
          <div class="col-34">小孩纸</div>
          <div class="col-66 text-right">
            <span ng-if="plan.people_children > 0">
              <span counter-minus data-model="people_children" class="icon ion-ios-minus-outline button button-clear"></span>
              <span class="padding0-5">{{plan.people_children}}人</span>
            </span>

            <span counter-plus data-model="people_children" data-model="people_children" class="icon ion-ios-plus-outline button button-clear"></span>
          </div>
        </div>
      </div>
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-ios-paperplane-outline brown"></i>出行方式

        <span class="item-note green">
          <select ng-model="plan.way_to_travel" ng-options="way.name for way in wayToTravel" class="border0 green">
          </select>
        </span>
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
      </div>
      <div class="row light-bg padding">
        <div class=" col-90 row list-options">
          <div class="col-34">儿童座椅</div>
          <div class="col-66 text-right">
            <span ng-if="plan.people_children_seat > 0">
              <span counter-minus data-model="people_children_seat" class="icon ion-ios-minus-outline button button-clear"></span>
              <span class="padding0-5">{{plan.people_children_seat}}个</span>
            </span>

            <span counter-plus data-model="people_children_seat" data-model="people_children_seat" class="icon ion-ios-plus-outline button button-clear"></span>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar>
    <div class="row text-center padding0">
      <a href="#/tab/publish/{{countryId}}/plan-other" class="col button button-clear button-green">
        下一步
      </a>
    </div>
  </ion-footer-bar>
</ion-view>
