<ion-view view-title="发布计划">
  <ion-content class="stable-bg">
    <div class="text-center margin40-top">
      <img ng-src="./img/pig.png" >
    </div>
  </ion-content>
  <ion-footer-bar>
    <div class="row text-center padding0">
      <button ng-click="addCity()" class="col button button-clear button-brown">
        添加城市
      </button>
      <div class="col gray">
        or
      </div>
      <a href="#/tab/publish/{{countryId}}/plan-detail" class="col button button-clear button-green">
        下一步
      </a>
    </div>
  </ion-footer-bar>
</ion-view>
