<ion-view view-title="选择国家">
  <ion-content class="padding0 stable-bg">
    <div class="margin10-bottom margin5-top list country-intro padding0">
      <a ng-repeat="item in destinationList" href="#/tab/publish/{{item.id}}"
         class="item stable-bg border0 item-thumbnail-left">
        <img ng-src="{{item.img}}" height="180" >
        <h2>{{item.name}}</h2>
        <h2 class="gray">japan</h2>
        <!--<p class="gray ft-12">{{item.text}}</p>-->
        <p class="gray">有333个果宝去过</p>
      </a>
    </div>
  </ion-content>
</ion-view>
